<footer class="footer" role="contentinfo">
  <div class="footer-inner">
    <div class="footer-brand">
      {{#link 'help_center' class='footer-logo-link'}}{{help_center.name}}{{/link}}
    </div>
    <div class="footer-links">
      <a href="mailto:support@edoconboard.com">support@edoconboard.com</a>
    </div>
    <div class="powered-by">
      &copy; {{date 'YYYY'}} Edoc Service. All rights reserved.
    </div>
  </div>
</footer>
